/* Palette Nord */
@define-color nord_bg #2e3440;
@define-color nord_fg #D8DEE9;
@define-color nord_blue #81A1C1;
@define-color nord_cyan #88C0D0;
@define-color nord_green #A3BE8C;
@define-color nord_yellow #EBCB8B;
@define-color nord_orange #D08770;
@define-color nord_red #BF616A;
@define-color nord_purple #B48EAD;

* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0); /* Transparan penuh agar wallpaper kelihatan */
    color: @nord_fg;
}

/* Container Kapsul Utama */
.modules-right, .modules-center, .modules-left {
    background: rgba(46, 52, 64, 0.9); /* Nord Polar Night */
    border-radius: 12px;
    padding: 2px 8px;
    margin: 5px;
}

/* Gaya Umum tiap Modul */
#cpu, #memory, #disk, #clock, #network, #pulseaudio, #battery, #tray, #workspaces, #custom-power, #custom-vpn {
    padding: 0 10px;
    margin: 4px 2px;
}

/* Warna Spesifik Nord untuk tiap Modul */
#workspaces button {
    color: #4C566A; /* Nord Dark Gray */
    padding: 0 5px;
}

#workspaces button.active {
    color: @nord_cyan;
}

#workspaces button.urgent {
    color: @nord_red;
}

#clock { color: @nord_fg; }
#cpu { color: @nord_red; }
#memory { color: @nord_yellow; }
#disk { color: @nord_orange; }
#pulseaudio { color: @nord_green; }
#network , #custom-vpn{ color: #88C0D0; min-width: 100px; }
#battery { color: @nord_cyan; }
#custom-power { color: @nord_red; margin-right: 5px; }

/* Menghilangkan background kotak-kotak agar lebih menyatu (Flat Design) */
#cpu, #memory, #disk, #clock, #network, #pulseaudio, #battery, #tray, #workspaces, #custom-power {
    background-color: transparent;
}
